.Cart {
  display: grid;
  grid-template-areas:
    'close'
    'header'
    'items'
    'checkout';
  grid-template-rows: 1fr 1fr 7fr 1fr;
  justify-items: center;
  background-color: white;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 350ms all ease-out;
  overflow: hidden; /* this is important to hide the elements from taking space (not using display: none) */
  position: fixed;
  z-index: 3;
}

.Cart.show {
  opacity: 1;
  width: max(30%, 300px);
}

.Cart__close-btn {
  grid-area: close;
  display: none;
}

.Cart.show .Cart__close-btn {
  cursor: pointer;
  margin: 1rem;
  margin-right: 3rem;
  margin-left: auto;
  width: max(10%, 1.5rem);
  transition: 50ms all ease-in;
}

.Cart__close-btn:hover {
  color: var(--hover-color);
}

.Cart__header {
  grid-area: header;
  display: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 4px;
  text-align: center;
}

.Cart__header__subtext {
  text-transform: initial;
  font-size: 0.9rem;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0.4);
}

.Cart__contents {
  display: none;
  flex-direction: column;
  gap: 1rem;
}

.Cart__checkout {
  display: none;
  grid-area: checkout;
  align-self: start;
  width: 100%;
  justify-content: space-around;
}

.Cart__checkout__summary__subtotal-title {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
}

.Cart__checkout__summary__subtotal-price {
  font-size: 1.2rem;
  font-weight: 600;
}

.Cart__checkout__summary__subtotal-price::before {
  content: '$';
}

.Cart__checkout__button {
  all: unset;
  cursor: pointer;
  background-color: var(--hover-color);
  padding: 0.8rem 2.25rem;
  color: rgb(255, 248, 251);
  font-weight: 500;
  border-radius: 8px;
}

.Cart__checkout__button:hover {
  background-color: #691d44;
}

.Cart.show .Cart__close-btn,
.Cart.show .Cart__header {
  display: initial;
}

.Cart.show .Cart__contents,
.Cart.show .Cart__checkout {
  display: flex;
}
